{% extends 'base.html' %}

{% block title %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="/static/css/style.css">
{% endblock title %}

{% block lk %}
{% if isAuth %}
<div class="rt">
  {% if lvl != "0" %}
    <button class="btn btn-primary" onclick="location.href='/apanel'">
      Панель управления
    </button>
  {% endif %}
  <button class="btn btn-primary" onclick="location.href='/lk'">
    <span class="name-surname">{{ user_name }}</span>
    <img id="img" class="image square-image-rt" src="{{ image }}" alt="Фотография профиля">
  </button>
</div>
{% else %}
<div class="rt">
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary register" onclick="location.href = '/register'">Зарегистрироваться</button>
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary login" onclick="location.href = '/login'">Войти</button>
</div>
{% endif %}
{% endblock lk %}

{% block body %}
<div class="container">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true" onclick="showTable('orders-template')">Готовятся</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="finished-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="true" onclick="showTable('finished-template')">Готовы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false" onclick="showTable('users-template')">Пользователи</a>
    </li>
    {% if lvl in ["2", "3"] %}
      <li class="nav-item">
        <a class="nav-link" id="statuses-tab" data-toggle="tab" href="#statuses" role="tab" aria-controls="statuses" aria-selected="true" onclick="showTable('statuses-template')">Уровни доступа</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="true" onclick="showTable('items-template')">Блюда</a>
      </li>
    {% endif %}
  </ul>
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
          <table class="table" id="orders-template">
              <thead>
                  <tr>
                      <th style="color: azure">ID пользователя</th>
                      <th style="color: azure">Блюда</th>
                      <th style="color: azure">Стоимость</th>
                      <th style="color: azure">Выполнен</th>
                  </tr>
              </thead>
              {% for order in orders %}
              <tbody>
                  <th style="color: azure">{{ order[0] }}</th>
                  <th style="color: azure">{{ order[1] }}</th>
                  <th style="color: azure">{{ order[2] }}</th>
                  <th><button class="btn btn-primary" id="suc-{{order[0]}}" onclick="fetch('/done?id={{order[0]}}&dish={{order[1]}}').then((data) => {
                    location.reload()
                  })">Готов</button></th>
              </tbody>
              {% endfor %}
          </table>
      </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
        <table class="table" id="finished-template">
            <thead>
                <tr>
                    <th style="color: azure">ID пользователя</th>
                    <th style="color: azure">Блюда</th>
                    <th style="color: azure">Стоимость</th>
                    <th style="color: azure">Получен</th>
                </tr>
            </thead>
            {% for finish in finished %}
            <tbody>
                <th style="color: azure">{{ finish[0] }}</th>
                <th style="color: azure">{{ finish[1] }}</th>
                <th style="color: azure">{{ finish[2] }}</th>
                <th><button class="btn btn-primary" id="suc-{{finish[0]}}" onclick="fetch('/finished?id={{finish[0]}}&dish={{finish[1]}}').then((data) => {
                  location.reload()
                })">Получен</button></th>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
        <table class="table" id="users-template">
            <thead>
                <tr>
                    <th style="color: azure">ID пользователя</th>
                    <th style="color: azure">Никнейм</th>
                    <th style="color: azure">Email</th>
                    <!-- <th>Затраты</th> -->
                    <th style="color: azure">Информация</th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <th style="color: azure">{{ user[0] }}</th>
                <th style="color: azure">{{ user[1] }}</th>
                <th style="color: azure">{{ user[2] }}</th>
                <!-- <th> 
                  {% if spends[user[0]] %}
                    {{ spends[user[0]] }}
                  {% else %}
                    {{0}}
                  {% endif %}
                </th> -->
                <th><button class="btn btn-primary" id="find-{{user[0]}}" onclick="location.href = '/user_info?user_id={{user[0]}}'">Поиск</button></th>
            </tbody>
            {% endfor %}
        </table>
    </div>
  </div>
  {% if lvl in ["2", "3"] %}
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="statuses" role="tabpanel" aria-labelledby="statuses-tab">
          <table class="table" id="statuses-template">
              <thead>
                  <tr>
                      <th style="color: azure">ID пользователя</th>
                      <th style="color: azure">Никнейм</th>
                      <th style="color: azure">Уровень доступа: </th>
                      <th style="color: azure">Изменить уровень доступа</th>
                      <th style="color: azure">Подтвердить</th>
                  </tr>
              </thead>
              {% for status in lvls %}
              <tbody>
                  <th style="color: azure">{{ status[0] }}</th>
                  <th style="color: azure">{{ nicknames[status[0] - 1] }}</th>
                  <th style="color: azure" id="th-{{status[0]}}">{{ status[1] }}</th>
                  <th style="color: azure"><input type="number" name="Введите уровень доступа" id="input-{{status[0]}}"></th>
                  <th><button class="btn btn-primary" id="btn-{{status[0]}}" onclick="changeStatus('{{status[0]}}')">Подтвердить</button></th>
              </tbody>
              {% endfor %}
          </table>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
          <table class="table" id="items-template">
              <thead>
                  <tr>
                      <th style="color: azure">Изображения</th>
                      <th style="color: azure">ID блюда</th>
                      <th style="color: azure">Блюда</th>
                      <th style="color: azure">Стоимость</th>
                      <th style="color: azure">Удалить</th>
                  </tr>
              </thead>
              {% for item in items %}
              <tbody>
                  <th><img src="{{ item[3] }}" alt="Картинка товара" style="max-width: 100px;"/></th>
                  <th style="color: azure">{{ item[0] }}</th>
                  <th style="color: azure">{{ item[1] }}</th>
                  <th style="color: azure">{{ item[2] }}</th>
                  <th><button class="btn btn-primary" id="btn-{{item[0]}}" onclick="fetch('/delete_from_db?id={{item[0]}}').then((data) => location.reload())">Удалить</button></th>
              </tbody>
              {% endfor %}
          </table>
          <button class="btn btn-primary" onclick="location.href = '/add_item'">Добавить товар</button>
      </div>
  </div>
  {% endif %}
</div>

<script>
function showTable(tableId) {
  document.querySelectorAll('.table').forEach(function(table) {
    table.style.display = 'none';
  });

  document.getElementById(tableId).style.display = 'table';
}

function changeStatus(user_id) {
  const new_status = document.getElementById(`input-${user_id}`).value;
  // const submit_btn = document.getElementById(f`btn-${user_id}`)

  if (new_status in [0, 1, 2, 3]) {
    fetch(`/change_status?user_id=${Number(user_id)}&status=${Number(new_status)}`).then((data) => document.getElementById(`th-${user_id}`).innerText = new_status);
    document.getElementById(`input-${user_id}`).value = '';
  }
}
</script>

{% endblock body %}
