{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock title %}

{% block lk %}
{% if isAuth %}
<div class="rt">
  {% if lvl != "0" %}
    <button class="btn btn-primary" onclick="location.href='/apanel'">
      Панель управления
    </button>
  {% endif %}
  <button class="btn btn-primary" onclick="location.href='/lk'">
    <span class="name-surname">{{ user_name }}</span>
    <img id="img" class="image square-image-rt" src="{{ image }}" alt="Фотография профиля">
  </button>
</div>
{% else %}
<div class="rt">
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary register" onclick="location.href = '/register'">Зарегистрироваться</button>
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary login" onclick="location.href = '/login'">Войти</button>
</div>
{% endif %}
{% endblock lk %}

{% block body %}
<div class="container">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <!-- <li class="nav-item">
        <a class="nav-link active" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="true" onclick="showTable('tickets-template')">Траты</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false" onclick="showTable('users-template')">Пользователи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="statuses-tab" data-toggle="tab" href="#statuses" role="tab" aria-controls="statuses" aria-selected="true" onclick="showTable('statuses-template')">Уровни доступа</a>
  </li>
  </ul>
  <!-- <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
          <table class="table" id="tickets-template">
              <thead>
                  <tr>
                      <th>ID пользователя</th>
                      <th>Никнейм</th>
                      <th>Компания</th>
                      <th>Цена чека</th>
                  </tr>
              </thead>
              {% for ticket in tickets %}
              <tbody>
                  <th>{{ ticket[0] }}</th>
                  <th>{{ nicknames[ticket[0] - 1] }}</th>
                  <th>{{ ticket[1] }}</th>
                  <th>{{ ticket[2] }}</th>
              </tbody>
              {% endfor %}
          </table>
      </div>
  </div> -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
        <table class="table" id="users-template">
            <thead>
                <tr>
                    <th>ID пользователя</th>
                    <th>Никнейм</th>
                    <th>Email</th>
                    <!-- <th>Затраты</th> -->
                    <th>Информация</th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <th>{{ user[0] }}</th>
                <th>{{ user[1] }}</th>
                <th>{{ user[2] }}</th>
                <!-- <th> 
                  {% if spends[user[0]] %}
                    {{ spends[user[0]] }}
                  {% else %}
                    {{0}}
                  {% endif %}
                </th> -->
                <th><button class="btn btn-primary" id="find-{{user[0]}}" onclick="location.href = '/user_info?user_id={{user[0]}}'">Поиск</button></th>
            </tbody>
            {% endfor %}
        </table>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="statuses" role="tabpanel" aria-labelledby="statuses-tab">
        <table class="table" id="statuses-template">
            <thead>
                <tr>
                    <th>ID пользователя</th>
                    <th>Никнейм</th>
                    <th>Уровень доступа: </th>
                    <th>Изменить уровень доступа</th>
                    <th>Подтвердить</th>
                </tr>
            </thead>
            {% for status in lvls %}
            <tbody>
                <th>{{ status[0] }}</th>
                <th>{{ nicknames[status[0] - 1] }}</th>
                <th id="th-{{status[0]}}">{{ status[1] }}</th>
                <th><input type="number" name="Введите уровень доступа" id="input-{{status[0]}}"></th>
                <th><button class="btn btn-primary" id="btn-{{status[0]}}" onclick="changeStatus('{{status[0]}}')">Подтвердить</button></th>
            </tbody>
            {% endfor %}
        </table>
    </div>
  </div>
</div>

<script>
function showTable(tableId) {
  document.querySelectorAll('.table').forEach(function(table) {
    table.style.display = 'none';
  });

  document.getElementById(tableId).style.display = 'table';
}

function changeStatus(user_id) {
  const new_status = document.getElementById(`input-${user_id}`).value;
  // const submit_btn = document.getElementById(f`btn-${user_id}`)

  if (new_status in [0, 1, 2, 3]) {
    fetch(`/change_status?user_id=${Number(user_id)}&status=${Number(new_status)}`).then((data) => document.getElementById(`th-${user_id}`).innerText = new_status);
    document.getElementById(`input-${user_id}`).value = '';
  }
}
</script>

{% endblock body %}
