{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block lk %}
{% if isAuth %}
<div class="rt">
  {% if lvl != "0" %}
    <button class="btn btn-primary" onclick="location.href='/apanel'">
      Панель управления
    </button>
  {% endif %}
  <button class="btn btn-primary" onclick="location.href='/lk'">
    <span class="name-surname">{{ user_name }}</span>
    <img id=" img" class="image square-image-rt" src="{{ image }}" alt="Фотография профиля">
  </button>
</div>
{% else %}
<div class="rt">
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary register" onclick="location.href = '/register'">Зарегистрироваться</button>
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary login" onclick="location.href = '/login'">Войти</button>
</div>
{% endif %}
{% endblock lk %}
{% block body %}
<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ticket">Выбрать фото</label>
            <input type="file" class="form-control" name="ticket" id="ticket" required>
        </div>
        <button class="btn btn-success" type="submit">Отправить</button>
    </form> 
</div>
{% endblock body %}