{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block lk %}
{% if isAuth %}
<div class="rt">
  {% if lvl != "0" %}
    <button class="btn btn-primary" onclick="location.href='/apanel'">
      Панель управления
    </button>
  {% endif %}
  <button class="btn btn-primary" onclick="location.href='/lk'">
    <span class="name-surname">{{ user_name }}</span>
    <img id=" img" class="image square-image-rt" src="{{ image }}" alt="Фотография профиля">
  </button>
</div>
{% else %}
<div class="rt">
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary register" onclick="location.href = '/register'">Зарегистрироваться</button>
  <button style="margin-left: 10px;" type="submit" class="nav-btn-2 btn btn-primary login" onclick="location.href = '/login'">Войти</button>
</div>
{% endif %}
{% endblock lk %}
{% block body %}
  <div class="jumbotron text-center main">
    <h1></h1>
    <p>Сервис корпоративного питания для сотрудников СберБанка</p>
    <a href="/lk" class="btn btn-primary btn-lg">Личный кабинет</a>
  </div>
  <section class="container py-5">
    <div class="text-center">
      <h2>Помощь</h2>
      <p class="lead">by NovaDev</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://vk.com/artyomjk">VK</a></li>
        <li class="list-inline-item"><a href="https://github.com/Nova-Web-Development">Github</a></li>
        <li class="list-inline-item"><a href="https://t.me/artyomjk">Telegram</a></li>
      </ul>
    </div>
  </section>

{% endblock body %}