{% extends 'base.html' %}
{% block body %}
<div class="container text-center">
    <h2>Вход</h2>
    <form method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit" value="Submit">Войти</button>
        </div>
    </form>
</div>
{% endblock %}