{% extends 'base.html' %}
{% block title %}
<script src="/static/js/register.js"></script>
{% endblock title %}
{% block body %}
<div class="container text-center form-login-reg">
    <h2>Регистрация</h2>
    <form onsubmit="return verifyPassword()" method="post"> 
        <!-- action="/register_handler" -->
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password1">Пароль:</label>
            <input type="password" id="password1" name="password1" required>
        </div>
        <div class="form-group">
            <label for="password2">Подтвердите пароль:</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        <div class="form-group">
            <span id = "message" style="color:red"> </span>
        </div>
        <div class="form-group">
            <button type="submit" value="Submit">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock %}